@import 'bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


#root {
  min-height: 100vh;
  width: 100%;
  background-color: #000000;
  background-image: url(./assets/img/noise.png);
}

.navbar {
  background-color: #1d1c1c !important;
  box-shadow: #fff 0px 0px 15px;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar a {
  color: rgb(255, 255, 255) !important;
}

.navbar-brand {
  font-size: 32px;
}

.spline-canvas {
  position: absolute;
  top: 60px;
  right: 181px;
  pointer-events: none;
  z-index: 1;
  width: 100%;
}

/* scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #666;
}

/* Home styles */
.home-container {
  margin-left: 500px;
  margin-right: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  height: 280px;
  max-width: 900px;
  border-radius: 40px;
  background-color: #f0f0f094;
  align-self: center;
  justify-self: center;
  z-index: 0;
}

.text-box {
  text-align: end;
  width: 60%;
  height: 80%;
  padding: 0px 20px 20px 0px;
  margin-bottom: auto;
}

.text-box h2 {
  font-size: 36px;
  margin-bottom: 10px;

}

.text-box p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}

.view-more-btn-home {
  background-color: #007bff;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding: 10px 0px;
  cursor: pointer;
  width: 20%;
  border-radius: 50px 50px 50px 50px;
  shape-outside: border-box
}

.section-home {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.chevron-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  animation: bounce 2s infinite;
}

.chevron-icon {
  font-size: 24px;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(5px);
  }
}

#chevron {
  color: #ffffff;
  animation: bounce 2s infinite;
}





/* Cities Styles */


.cities-body.fade-out-banner {
  transform: translateY(-50vh);
  transition: transform 0.5s ease-in-out;
}

.fade-out {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.banner-image {
  height: 50vh;
  width: 100%;
  background-image: url(src/assets/img/Banner.jpg);
  background-size: cover;
  background-position: center;
}

.search-box {
  display: flex;
  justify-content: center;
  margin: 20px 0;

}

.search-box input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*version vieja, revisar*/
/* .destinations-carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
} 

.destination-bg {
  height: 200px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.destination-bg h3 {
  font-size: 18px;
  margin-bottom: 5px;
} 

.location-info {
  display: flex;
  align-items: center;
} */

.cities-container {
  min-height: 36vh;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  flex-direction: column;

}

.cities-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  margin: 10px 0 0 0;
  width: 100%;
}

.card {
  width: 90%;
  height: 23rem;
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
}

.card-body {
  flex: 0;
}

/* Carousel Styles */

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.destinations-carousel {
  display: flex;
  transition: transform 0.5s ease;
}

.destination-box {
  width: 300px;
  height: 500px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.5s ease;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.destination-box h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: #c5c5c5;
  text-shadow: #393838 1px 1px;
}

.location-info {
  display: flex;
  align-items: baseline;
  color: #c5c5c5;
  text-shadow: #393838 1px 1px;
}

.location-info i {
  margin-right: 5px;
}

.view-more-btn {
  background-color: #007bff;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  background: none;
  border: none;
  color: #000;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0;
  transform: translateY(-50%);
}

.next-btn {
  right: 0;
  transform: translateY(-50%);
}

.prev-btn:hover,
.next-btn:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Destination Styles */

.destination-banner {
  height: 83vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 90px;
}

.destination-banner h2 {
  font-size: 36px;
}

.banner-text {
  background: #3333338c;
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.destination-info {
  padding: 20px;
  margin: 0 auto;
  width: 100%;
  height: 43vh;
  margin-bottom: 30px;
}

.destination-info p {
  margin-bottom: 15px;
}

.destination-info h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 10px;
}

.destination-info p {
  color: #fff;
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.5;
}




.view-itineraries-btn .view-activities-btn {
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s;
}

.view-itineraries-btn .view-activities-btn i {
  margin-left: 10px;
}

.view-itineraries-btn .view-activities-btn:hover {
  background-color: #0056b3;
}

.fa-flip {
  animation: fa-flip 3s infinite;
}

@keyframes slide {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(5px);
  }
}

.back-arrow {
  position: absolute;
  top: 93px;
  left: 20px;
  background: #333;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 22px;
  animation: slide 2s infinite;
}

.back-arrow i {
  text-decoration: none;
  color: #FFF;
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-around;
  background-color: #1d1c1c;
  color: white;
  padding: 1rem;
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-links {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 10px;
}

/* Itineraries */

#itineraries-section {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 34px;
}

.itinerary-card {
  /* width: 80vw; */
  display: flex;
  gap: 24px;
  background-color: #e5e0e09e;
  padding: 25px;
  border-radius: 115px 15px 15px 115px;
}

.itinerary-card:hover {
  transform: scale(1.01);
}



/* Media Query */

@media (max-width: 950px) {

  .chevron-container {
    display: none;
  }

  .hero {
    height: 600px !important;
  }

  .home-container {
    color: #fff;
    background-color: #00000000;
    height: 300px;
  }

  #carousel {
    height: 500px;
    margin-bottom: 30px;
  }

  .view-more-btn-home {
    margin-top: 8px;
    width: 50%;
  }

}

@media (min-width: 300px) and (max-width: 1389px) {

  /* .spline-canvas {
      display: none;
    } */

  .home-container {
    display: flex;
    margin: 20px;
    align-items: center;
  }

  .text-box h2 {
    font-size: 2rem
  }

  .text-box p {
    font-size: 1rem
  }

  .hero {
    justify-content: center;
  }

  .text-box {
    width: 100%;
    text-align: center;
  }

  .chevron-container {
    bottom: 120px;
  }

}

@media (min-width: 1771px) {}